%p#notice= notice

%p
  %b Nombre:
  = @tipo_equipo.nombre
%p
  %b Descripcion:
  = @tipo_equipo.descripcion

= link_to 'Edit', edit_tipo_equipo_path(@tipo_equipo)
\|
= link_to 'Back', tipo_equipos_path
