%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
	.navbar-header
		- if current_user.respond_to?(:email) && current_user.email.present?
			%button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
		%a.navbar-brand
			%i.fa.fa-calendar
			SigmaRails 2.0
		%div.visible-xs.navbar-brand
	#bs-example-navbar-collapse-1.collapse.navbar-collapse
		- if current_user.respond_to?(:email) && current_user.email.present?
			%ul.nav.navbar-nav
				%li{ class: "#{'active' if params[:action] == 'home/index'}"}					
					= link_to "<i class='fa fa-home'> Inicio</i>".html_safe, root_path 
				%li{ class: "#{'active' if params[:action] == 'empresas/index'}"}
					= link_to "<i class='fa fa-building-o'> Clientes</i>".html_safe, empresas_path 
				%li{ class: "#{'active' if params[:action] == 'user/index'}"}
					= link_to "<i class='fa fa-cog'> Configuración</i>".html_safe, user_index_path 
			%ul.nav.navbar-nav.navbar-right
				%li.dropdown
					%a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
						%i.fa.fa-user
						= current_user.email
						%b.caret
					%ul.dropdown-menu
						%li
							= link_to "<i class='fa fa-sign-out'> Cerrar Sesión</i>".html_safe, destroy_user_session_path, :method => :delete

			